<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = 'static/style.css'>
</head>
<body>
    <div class = 'container'>
            <ul class = 'artistlist'>
                {%for artist in artists%}
                <li class = 'grid-item'>
                    <h3>{{artist.artist_name}} {{artist.email}}</h3><a href = 'artist_albums/{{artist.id}}'>See albums by artist</a>
                </li>
                {%endfor%}
            </ul>
    </div>
</body>
</html>