<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet", href = "static/style.css"
</head>
<body>
    <div class = 'container'>
        <div class = 'title'><h1>Audio Material</h1></div>
        <div class = 'grid-item'>
            <a href = '/artists'>Artists</a>
        </div>
        <div class = 'grid-item'><a href = '/albums'>Albums</a></div>
        <div class = 'grid-item'><a href = '/labels'>Labels</a></div>
        <div class = 'grid-item'><a href = '/merch'>Merch</a></div>
    </div>
    <div class = 'container'>
        <div class = grid-item-2><h1>Get</h1></div>
        <div class = grid-item-2><h1>It</h1></div>
        <div class = grid-item-2><h1>Got</h1></div>
        <div class = grid-item-2><h1>It</h1></div>
        <div class = grid-item-2><h1>Good</h1></div>
    </div>
    
    <div class = 'container'>
        <form class = 'search-area' action = '/search' methods = 'post'>
            <input type = 'search' value = 'search artists/albums/labels'>
        </form>
    </div>
    
</body>
</html>