* {
    margin:0;
    padding:0;
    font-family:roboto;
}

.container {
    display: grid;
    grid-template-columns:repeat(5, auto);
    column-gap: 10px;
    row-gap: 10px;
}

/* body{
    display: grid;
    grid-template-columns: repeat(5,2fr);
    grid-template-rows: repeat(2, 2fr), 100px, repeat(2,2fr);
} */


.title {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr); */
    background-color: rgb(251, 255, 0);
    grid-column: span 2;
    justify-content: center;
    border: 1px solid black;
}

.title h1{
    grid-row: 2/3;


}

.grid-item {
    height: 150px;
    display:grid;
    align-items: center;
    justify-items: center;
    /* padding:10px; */
    background-color: coral;
    border:1px solid black;
}

.grid-item-2 {
    height: 150px;
    display:grid;
    align-items: center;
    /* padding:10px; */
    background-color: black;
    justify-items: left;
    padding-left:10px
}

.grid-item-2 h1{
    color: white;
}



a {
    text-decoration: none;
    font-family: roboto;
    font-weight: bold;
    font-size:1.17em;
    color:black;

}
.search-area {
    display:grid;
    grid-column: span 2;
    align-items: center;
    justify-items: center;
    height: 150px;
    background-color: coral;
    border: 1px solid black;
}


.form-item input{
    width: 200px;
}

.artistlist{
    display:grid ;
    grid-template-columns: repeat(5,1fr);
}

.error1 {
    color:red;
    font-style: italic;
}

.postbox {
    border: 3px solid white;
}

.commentbox {
    border: 1px dotted black;
}